.modal {
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--trn);
    padding: 40px;
    width: calc(100% - 30px);

    @media screen and(min-width: $mobile) {
        width: 450px;
        height: 609px;
    }

    @media screen and(min-width: $desktop) {
        width: 528px;
        height: 581px;
    }
}

.modal__close {
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transition: fill var(--trn);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 12px;

    @media screen and(min-width: $desktop) {
        line-height: calc(23 / 20);
    }
}

.modal__field {
    margin-bottom: 10px;
}

.modal__lable {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--text-color);

    & span,
    & {
        display: block;
        margin: bottom 4px;
    }
}

.input-wrap {
    position: relative;
}

.modal-input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--trn);

    .modal-input:focus+& {
        fill: var(--accent-color);
    }
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    padding-left: 42px;
    font-size: 16px;
    transition: border-color var(--trn), fill var(--trn);

    &:focus {
        border-color: var(--accent-color);
    }
}

.modal__field-textarea {
    margin-bottom: 20px;
}

.modal__text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    outline: transparent;
    resize: none;
    transition: border-color var(--trn);

    &:focus {
        border-color: var(--accent-color);
    }

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);

        @media screen and(min-width: $desktop) {
            font-size: 12px;
            line-height: calc(14 / 12);

        }
    }
}

.checkbox-wrap {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}

.modal-checkbox {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.checkbox-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;

    @media screen and(min-width: $desktop) {
        font-size: 14px;
        line-height: 1.71;
    }

    span {
        width: 16px;
        height: 15px;
        border-radius: 3px;
        border: 2px solid var(--primary-text-color);
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        transition: border-color var(--trn);

        .modal-checkbox:checked+& {
            border-color: transparent;
            background-color: var(--accent-color);
            fill: var(--white-color);
        }

        .modal-checkbox:hover+& {
            border-color: var(--accent-color);
        }
    }
}

.checkbox-link {
    color: var(--accent-color);
    margin-left: 5px;
}

.modal__button {
    padding: 10px;
    min-width: 200px;
    height: 50px;
    margin: 0 auto;
    transition: box-shadow var(--trn);
    display: block;

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}