@mixin font ($size, $height, $weight, $spacing) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    letter-spacing: $spacing;
}

@mixin calc($count, $gap) {
    width: calc((100% - $gap * ($count - 1)) / $count);
}