:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --main-logo-color: #000000;
  --hero-bg-color: #2f303a;
  --footer-bg-color: #2f303a;
  --teem-bg-color: #f5f4fa;
  --trn: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;