.about {
    padding-bottom: 0;
}

.pic-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}



.pic-list__item {
    width: 100%;

    &-container {
        background-color: var(--teem-bg-color);
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and(min-width: $tablet) {
        @include calc (2, 30px);
    }

    @media screen and(min-width: $desktop) {
        @include calc (4, 30px);

    }
}


.pic-list__title {
    margin-bottom: 10px;


    @media screen and(max-width: 479px) {
        text-align: center;
    }
}

.pic-list__text {
    color: var(--text-color);
    line-height: 1.71;
}