.examples {

    @media screen and(max-width: 1199px) {
        display: none;
    }

}

.examples-title {
    margin-bottom: 50px;
}

.examples-list {
    @extend %list;
    display: flex;
    gap: 30px;
}

.examples-img-thumb {
    position: relative;
}

.examples-img-text {
    font-weight: 700;
    line-height: calc(16 / 14);
    text-align: center;
    color: var(--white-color);
    width: 370px;
    height: 70px;
    padding: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
}