.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;

}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.header__menu {
    @extend %list;
    display: none;
    align-items: center;
    gap: 50px;
    margin-left: 93px;

    @media screen and(min-width: $tablet) {
        display: flex;
        margin-left: 87px;

    }
}

.menu__thumb {
    position: relative;

    & .current::before {
        display: block;
        content: "";
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: var(--accent-color);
        position: absolute;
        bottom: 0;
    }
}

.menu .link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    padding: 32px 0px;
    transition: color var(--trn);

    &:hover,
    &:focus,
    &:active,
    &.current {
        color: var(--accent-color);
    }
}

.contacts {
    @extend %list;
    display: none;

    @media screen and(min-width: $tablet) {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    @media screen and(min-width: $desktop) {
        display: flex;
        gap: 30px;
        flex-direction: row;
    }
}

.contacts__item {
    display: flex;
    align-items: center;
    fill: var(--text-color);
}

.contacts__link {
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    align-items: center;
    transition: color var(--trn);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}

.menu-open {
    background-color: transparent;
    fill: var(--main-logo-color);
    margin-left: auto;

    @media screen and(min-width: $tablet) {
        display: none;

    }

}

.mob-menu {
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: var(--white-color);
    top: 0;
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;

    @media screen and(max-width: $mobile) {
        padding: 48px 10px;

    }

}

.menu-close {
    background-color: transparent;
    fill: var(--main-logo-color);
    position: absolute;
    top: 10px;
    right: 15px;

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}


.mob-menu-list {
    @extend %list;
    display: block;
    margin-bottom: 15px;

}

.mob-menu-list .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    display: block;

    transition: color var(--trn);

    &:hover,
    &:focus,
    &:active,
    &.current {
        color: var(--accent-color);
    }
}

.mob-menu-contacts {
    @extend %list;
    // display: none;
    gap: 50px;
}

.mob-menu-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);

}

.mob-menu-email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--text-color);
    margin-top: 32px;
}

.mob-menu-soc {
    @extend %list;
    display: flex;
    gap: 10px;
    margin-top: 64px;
}

.mob-menu-soc-item {
    &:not(:last-child) {
        padding-right: 10px;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: rgba(33, 33, 33, 0.2);
    }

}

.mob-menu-soc-link {
    color: var(--accent-color);




}