.hero {
    background-color: var(--hero-bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-mob-img-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    max-width: 100%;
    padding: 118px 19px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @include retina {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-mob-img-2.jpg);
    }

    @media screen and(min-width: $tablet) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-tab-img-1.jpg);

        @include retina {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero-tab-img-2.jpg);
        }
    }

    @media screen and(min-width: $desktop) {
        max-width: 1600px;
        padding: 200px 0px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-bg.jpg);

        @include retina {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero-desk-img-2.jpg);
        }
    }
}

.hero__title {
    color: var(--white-color);
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @media screen and(min-width: $desktop) {
        font-size: 44px;
        line-height: 1.36;
        min-width: 696px;
    }
}

.hero__button {

    min-width: 200px;
    height: 50px;
    transition: box-shadow var(--trn);

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    @media screen and(min-width: $desktop) {
        min-width: 216px;
    }
}