.team {
    background-color: var(--teem-bg-color);
}

.team-title {
    margin-bottom: 50px;
}

.team-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team-item {
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and(min-width: $tablet) {
        @include calc (2, 30px);
    }

    @media screen and(min-width: $desktop) {
        @include calc (4, 30px);

    }
}

.team-wrap {
    padding: 30px;
}

.team-after-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}

.team-text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}

.team-soc-list {
    @extend %list;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}